/* -------------------------------- Primary style-------------------------------- */
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 70%;
	scroll-behavior: smooth;
}

img {
	padding: 2rem;
	max-width: 100%;
	height: auto;
}

/* RWD Setting */
@media (min-width: 576px) { 
	.navbar-brand {
		font-size: 3rem;
	}

	.navbar-nav {
		font-size: 1.7rem;
	}

	h1 {
		font-size: 3rem;
	}
	
	p {
		font-size: 1.7rem;
	}

	.btn-primary {
		font-size: 2rem;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.navbar-brand {
		font-size: 3rem;
	}

	.navbar-nav {
		font-size: 1.7rem;
	}

	h1 {
		font-size: 3rem;
	}
	
	p {
		font-size: 1.7rem;
	}

	.btn-primary {
		font-size: 2rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.navbar-brand {
		font-size: 4rem;
	}

	.navbar-nav {
		font-size: 1.7rem;
	}

	h1 {
		font-size: 3rem;
	}
	
	p {
		font-size: 1.7rem;
	}

	.btn-primary {
		font-size: 2rem;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.navbar-brand {
		font-size: 4.7rem;
	}

	.navbar-nav {
		font-size: 2rem;
	}

	h1 {
		font-size: 4rem;
	}
	
	p {
		font-size: 2rem;
	}

	.btn-primary {
		font-size: 3rem;
	}
}

.navbar-cc{
	background:transparent !important;
	transition:0.5s ease;
}

.navbar-cc.scrolled{
	background:#fafafa !important;
}

.navbar-brand {
	font-family: 'Patua One', cursive;
	color: #FD4929 !important;
	padding-left: 10rem;
}

.navbar-light .navbar-nav .nav-link {
	border-left: 5px solid #FD4929;
	color: #DCDCDC;
	padding-left: 3rem;
	padding-right: 3rem;
}

.navbar-light .navbar-nav .nav-link.scrolled {
	color: #000000;
	padding-left: 3rem;
	padding-right: 3rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #FD4929;
}

body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Noto Serif TC', serif;
	color: #000000;
	background-color: #242424;
}

p {
	padding: 2rem;
}

a {
	text-decoration: none;
}

footer {
	color: #ffffff;
}

.btn-primary {
	color: #ffffff !important;
	border-color: #FD4929 !important;
	background-color: #FD4929 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	color: #000000 !important;
	border-color: #ffffff !important;
	background-color: #ffffff !important;
}

.carousel-item {
	height: 100vh;
}

.banner-header {
	height: 100vh;
	min-height: 500px;
}

.banner-white {
	padding: 3rem;
	padding-top: 11rem;
	height: 100vh;
	color: #000000;
	background-color: #ffffff;
}

.banner-white-flex {
	padding: 3rem;
	padding-top: 11rem;
	color: #000000;
	background-color: #ffffff;
}

.banner-black {
	padding: 3rem;
	padding-top: 11rem;
	height: 100vh;
	color: #FD4929;
	background-color: #242424;
}	

/* Custom scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #FD4929;
}