/* -------------------------------- Primary style-------------------------------- */
*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.navbar-cc{
	background:transparent !important;
	transition:0.5s ease;
}

.navbar-cc.scrolled{
	background:#fafafa !important;
}

.navbar-brand {
	font-family: 'Patua One', cursive;
	color: #FD4929 !important;
	padding-left: 14rem;
	font-size: 5rem;
}

.navbar-nav {
	font-size: 2rem;
}

.navbar-light .navbar-nav .nav-link {
	border-left: 5px solid #FD4929;
	color: #DCDCDC;
	padding-left: 3rem;
	padding-right: 3rem;
}

.navbar-light .navbar-nav .nav-link.scrolled {
	color: #000000;
	padding-left: 3rem;
	padding-right: 3rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #FD4929;
}

body {
	font-size: 7rem;
	font-family: 'Roboto', sans-serif;
	font-family: 'Noto Serif TC', serif;
	color: #000000;
	background-color: #242424;
}

p {
	padding: 7rem;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	font-family: 'Noto Serif TC', serif;
}

a {
	text-decoration: none;
}

footer{
	color: #ffffff;
}

.btn-primary{
	font-size: 5rem;
	color: #ffffff !important;
	border-color: #FD4929 !important;
	background-color: #FD4929 !important;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	color: #000000 !important;
	border-color: #ffffff !important;
	background-color: #ffffff !important;
}

.carousel-item {
	height: 100vh;
}

.banner-header {
	height: 100vh;
	min-height: 500px;
}

.banner-how {
	padding: 12rem;
	height: 100vh;
	min-height: 500px;
	color: #000000;
	background-color: #ffffff;
}

.banner-goal {
	padding: 12rem;
	height: 100vh;
	min-height: 500px;
	color: #FD4929;
	background-color: #242424;
}	

.banner-about {
	padding: 12rem;
	height: 100vh;
	min-height: 500px;
	color: #000000;
	background-color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #FD4929;
}