<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Anfa Web- Is it fakenews?</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--RWD Setting-->
    <meta name="keywords" content="Anti-Fakenews" />
    <meta name="description" content="A Website to Spot Whether the News Is Fake" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- CSS theme -->
    <link href="static/default.css" rel="stylesheet" type="text/css" media="all" />
    <!-- AOS - Animate on scroll library -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Navbar color changed -->
    <script>
        $(window).scroll(function() {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 200);
            $('nav a').toggleClass('scrolled', $(this).scrollTop() > 200);
        });

        function showFilename(file) {
            $("#filename_label").html(file.name);
        };
    </script>
</head>

<body>
    <!-- header -->
    <!-- navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-black fixed-top shadow navbar-cc">
        <a class="navbar-brand" href="/">DAGEIHO - Anfa WEB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-controls="navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarDiv">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link nav-link-ltr" href="#how">如何辨識</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div div class="banner-black" id="check" id="content" style="padding-top:10%;">
        {% if value == "" %}
        <div class="container">
            <div row="row justify-content-center">
                <form class="md-form" action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="text-center"><h1>選擇檔案</h1></div>
                    <p><br></p>
                    <div class="custom-file">
                        <input onchange="showFilename(this.files[0])" type="file" name="image" class="custom-file-input" id="customFile" required>
                        <label id="filename_label" class="custom-file-label" for="customFile">jpg/png</label>
                    </div>
                    <p><br></p>
                    <br style="line-height: 500%;">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary">上傳檔案</button>
                    </div>
                </form>
                {% else %}
                <div class="row justify-content-center">
                    <h1 class="label-title">結果: {{ value }}
                    {% if value == "FakeNews" %} 假新聞確定 {% elif value == "Undefined" %} 未確認 {% elif value == "truenews" %} 非假新聞可能是真新聞 {% endif %}
                </div>
                {% endif %}
            </div>
        </div>    
    </div>

    <div class="banner-white" id="how" style="padding-top:2%;">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-down" data-aos-duration="3000">
                <h1>如何辨識</h1>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="3000">
                <p>辨識流程圖</p>
            </div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="3000">
                <img src="static/flow.jpg">
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

</body>

<!-- Footer -->
<footer>
    <!-- Copyright -->
    <div class="container">
        <div class="row justify-content-center">
            <p>@Copyright 2020</p>
        </div>
    </div> 
</footer>

</html>